/*----------MAIN COMPRAR ------------*/

.subTituloComprar{
	font-size: 25px;
	padding-left: 15%;
	text-align: justify;
}
.servicios{
	text-align: center;
	color: black;
	padding-bottom: 50px;
	img{
		padding-bottom: 15px;
	}
}
.entreTituloComprar{
		font-size: 20px;
		padding: 5px;
	}
.descTituloComprar{
		font-size: 18px;
		padding-bottom: 40px;
		text-decoration:none;
		a{
			color:black;
		}
	}
	

/*--------------------------------------------*/