/*----------MAIN COMPRAR ------------*/

.listadoPComprar{
	padding-left: 8%;
	list-style: none;
	font-size: 18px;
}
.list-group-item{
	background: none !important;
}
.datoSecundario{
	padding-left: 40px;
}
/*--------------------------------------------*/