/*-----Footer-------*/

footer{
		@extend .propiedadesFooter;
	h2{
		margin: 0px;
		padding-top: 25px;
		text-align: center;
		text-transform: uppercase;
	}
	nav{
		ul{
		margin-top: 25px;
		margin-bottom: 25px;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
			img {
			width: 35px;
			height: 35px;
			}
		}
	}
}

/*-----FinFooter-------*/