/*-----Header-------*/

header{
        margin: 0px;
        height: 65px;
        background-color: $color01;
        position: fixed;
        width: 100%;
        z-index: 10;
}
.logo{
        float: left;
        width: 55px;
        margin: 5px;
}
.tituloEscondido{
        display: none;
}


// .tituloPrincipal {
//         display: inline-block;
//         text-align: center;
//         font-size: 45px;
//         margin-top: 10px;
//         margin-left: 20%;
// }
.dropdown-menu{
        background-color: $color01;
}
.navbar{
        background-color: $color01;
}
.navbar-light .navbar-nav .nav-link {
        color: $colortextoprincipal;
}

/*-----FinHeader-------*/