/*------------MAIN HTML INFO--------------*/

.contenedorDatos{
	width: 84%;
	text-align: justify;
	padding-left: 8%;
	
	h4.subTitulos{
			padding-left: 2%;
	}

	.listasInfo{
		list-style-type: disclosure-closed;
	}

	.subTitulos{
		text-align: left;
		
	}
	.entreTitulos{
		padding: 8px 0px 10px 0px;		
	}
	// padding-left: 25px;
}
h2{
	font-size: 35;
}
h3{
	font-size: 30px;
}

h4{
	font-size: 20px;
}

/*--------------------------------------------*/