/*------------MAIN HTML INFO--------------*/

.contenedorDatos{
	width: 60%;
	text-align: justify;
	padding-left: 8%;
	padding-bottom: 40px;
	
	h4.subTitulos{
			padding-left: 2%;
	}

	.listasInfo{
		list-style-type: disclosure-closed;
		font-size: 18px;
	}

	.subTitulos{
		text-align: left;
		
	}
	.entreTitulos{
		padding: 8px 0px 10px 14px;		
	}
}
.pregunta{
	width: 15%;
	padding-left: 20%;
	background-image: url(../imagenes/pregunta2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h3.subTitulos{
	font-size: 35px;
}

h4.subTitulos{
	font-size: 30px;
}

.entreTitulos{
	font-size: 20px;
}
.datosOcultos{
	display: none;
	width: 84%;
	text-align: justify;
	padding-left: 8%;
	padding-bottom: 40px;
}

/*--------------------------------------------*/