/*------------MAIN HTML INFO--------------*/

.contenedorDatos{
	width: 84%;
	text-align: justify;
	padding-left: 8%;
	
	h4.subTitulos{
			padding-left: 2%;
	}

	.listasInfo{
		list-style-type: disclosure-closed;
		font-size: 18px;
	}

	.subTitulos{
		text-align: left;
		
	}
	.entreTitulos{
		padding: 8px 0px 10px 14px;		
	}
}

h3.subTitulos{
	font-size: 35px;
}

h4.subTitulos{
	font-size: 30px;
}

.entreTitulos{
	font-size: 20px;
}

/*--------------------------------------------*/