/*-------------MAIN DE PRODUCTOS---------------*/
.prendasAcomodadas{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	align-items: start;
	justify-items: center;
	padding: 0px 20px 50px 20px;
	.descripcion{
		position: relative;
		display: inline-block;
		.prenda {
			display: block;
			width: 100%;
		}
		.oculto {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: .2s;
			background-color: $color01;
			border-radius: 2%;
			.textoPrenda {
				color: $colortextobotones;
				position: absolute;
				top: 10%;
				text-align: center;
				h3{
					font-size: 22px;
				}
				p{
					font-size: 18px;
				}
				ul{
					font-size: 18px;
				}
				.textoColores{
					list-style-type: disc;
					text-align: left;
					padding-left: 35%;
				}
			}
		}
	}
}
.descPrendas{
	padding: 0 15px 0 15px;
	display: inline;
	background: yellow;
}
.descripcion:hover .oculto {
    opacity: 0.9;
}
.tituloCadaPrenda{
	margin-left: 40px;
	font-size: 45px;
}

/*--------------------------------------------*/