
// Colores por gradiente
$color01: #e3d7bf;
$color02: #c7b69f;
$color03: #ab9680;
$color04: #7e634e;
$color05: #735945;

$colorbordeinactivo: #d9d9d9;
$colorbordeactivo: black;

$colortextobotones:black;
$colortextoprincipal:black;
// $colortextoprincipal:#212529;

$tipografiageneral: 'Yeseva One', cursive;


body {
	// background-color: #e3d7bf;
	font-family: $tipografiageneral;
	margin: 0;	
	background-image: url(../imagenes/stacked-waves-haikei.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: black;
}
/*-----------------------------------------*/

@import "_header";
@import "_footer";
@import "_index";
@import "_productos";
@import "_talles";
@import "_comprar";
@import "_info";
@import "_contacto";
@import "_mediasq";
