body {
  font-family: "Yeseva One", cursive;
  margin: 0;
  background-image: url(../imagenes/stacked-waves-haikei.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*--------------------------------------------*/
/*-----Header-------*/
header {
  margin: 0px;
  height: 65px;
  background-color: #e3d7bf;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo {
  float: left;
  width: 55px;
  margin: 5px;
}

.tituloEscondido {
  display: none;
}

.botonera {
  float: right;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.botonera li {
  background-color: #7e634e;
  display: inline-block;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
}

.botonera li a {
  color: black;
  text-decoration: none;
}

.botonera li:hover {
  background-color: lightgray;
}

.tituloPrincipal {
  display: inline-block;
  text-align: center;
  font-size: 45px;
  margin-top: 10px;
  margin-left: 20%;
}

.dropdown-menu {
  background-color: #e3d7bf;
}

.navbar {
  background-color: #e3d7bf;
}

.navbar-light .navbar-nav .nav-link {
  color: #212529;
}

/*-----FinHeader-------*/
/*-----Footer-------*/
footer {
  background: -webkit-gradient(linear, left top, right top, from(#ab9680), to(#e3d7bf));
  background: linear-gradient(to right, #ab9680, #e3d7bf);
  height: 160px;
  width: 100%;
  margin: 0px;
  font-size: 20px;
}

footer h2 {
  margin: 0px;
  padding-top: 25px;
  text-align: center;
  text-transform: uppercase;
}

footer nav ul {
  margin: 0px;
}

.logoRedes {
  width: 35px;
  height: 35px;
}

.botoneraRedes {
  margin-top: 25px;
  margin-bottom: 25px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*-----FinFooter-------*/
/*------------MAIN DEL INDEX------------------*/
main {
  padding-top: 65px;
  min-height: 600px;
  background-size: cover;
}

.contieneBG {
  position: relative;
  display: inline-block;
  text-align: center;
}

.textoCentradoBG {
  text-align: center;
  margin: 80px 80px 20px 80px;
  padding-bottom: 50px;
}

.tituloIndex {
  font-size: 65px;
}

.textoCentradoBG h3 {
  font-size: 25px;
}

.textoCentradoBG p {
  font-size: 15px;
}

.bgPrincipal {
  background-size: cover;
  width: 100%;
  height: auto;
}

.tituloSeccion {
  text-align: center;
  font-size: 65px;
  margin-top: 60px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.carousel-inner img {
  width: 100%;
  height: 80%;
}

/*--------------------------------------------*/
/*-------------MAIN DE PRODUCTOS---------------*/
.descripcion {
  position: relative;
  display: inline-block;
}

.prenda {
  display: block;
  width: 100%;
}

.oculto {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
  background-color: #c7b69f;
}

.descripcion:hover .oculto {
  opacity: 1;
}

.textoPrenda {
  color: black;
  font-size: 11px;
  position: absolute;
  top: 10%;
  text-align: center;
}

.textoColores {
  list-style-type: none;
}

.tituloCadaPrenda {
  margin-left: 40px;
  font-size: 45px;
}

.prendasAcomodadas {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}

/*--------------------------------------------*/
/*----------MAIN HTML TALLES------------------*/
.mainTalles {
  text-transform: uppercase;
}

.tablas {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: center;
  padding-bottom: 50px;
}

/*--------------------------------------------*/
/*----------MAIN COMPRAR ------------*/
.listadoPComprar {
  list-style: none;
  font-size: 15px;
}

.list-group-item {
  background: none !important;
}

.datoSecundario {
  padding-left: 40px;
}

/*--------------------------------------------*/
/*------------MAIN HTML INFO--------------*/
.contenedorDatos {
  padding-left: 25px;
}

/*--------------------------------------------*/
/*------------MAIN HTML CONTACTO--------------*/
.content {
  padding: 7rem 0;
}

.container {
  margin-top: 70px;
}

.form-control {
  border: none;
  border: 1px solid #d9d9d9;
  border-radius: 0;
}

.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: black;
}

.btn, .form-control {
  height: 55px;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#message {
  resize: vertical;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: black;
}

.btn-primary {
  color: black;
  background-color: #7e634e;
  border-color: #7e634e;
  border-radius: 10% !important;
}

.btn-primary:hover {
  color: black;
  background-color: #735945;
  border-color: #735945;
}

/*--------------------------------------------*/
@media only screen and (max-width: 1080px) {
  .botonera li {
    display: inline-block;
    font-size: 13px;
    padding: 2px 6px 2px 6px;
    border-radius: 4px;
    margin-top: 5px;
  }
  .textoCentradoBG {
    margin-top: 60px;
  }
  .tituloSeccion {
    font-size: 60px;
  }
  .encontranos {
    font-size: 20px;
  }
  .tituloIndex {
    font-size: 60px;
  }
}

@media only screen and (max-width: 980px) {
  .sinLogo {
    display: none;
  }
  .tituloPrincipal {
    display: inline-block;
    text-align: center;
    font-size: 40px;
    margin-top: 9px;
    margin-left: 20%;
  }
  .botonera li {
    display: inline-block;
    font-size: 10px;
    padding: 2px 4px 2px 4px;
    margin-top: 10px;
  }
  .tablas {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .tituloCadaPrenda {
    font-size: 30px;
  }
  .prendasAcomodadas {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .tituloSeccion {
    font-size: 55px;
  }
  .encontranos {
    font-size: 15px;
    padding-left: 5%;
  }
  .tituloIndex {
    font-size: 55px;
  }
}

@media only screen and (max-width: 780px) {
  .tituloPrincipal {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-left: 30%;
  }
  .tablas {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .prendasAcomodadas {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .botonera {
    display: none !important;
  }
  .tituloSeccion {
    margin-top: 50px;
    font-size: 50px;
  }
  .tituloIndex {
    font-size: 40px;
  }
  .textoCentradoBG h3 {
    font-size: 20px;
  }
  .textoCentradoBG p {
    font-size: 10px;
  }
  .divContacto {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .encontranos {
    text-align: center;
  }
}

/*--------EN ESTA MEDIDA COLOCARIA UN MENU HAMBURGUESA EN LUGAR DE LOS BOTONES---------*/
@media only screen and (max-width: 575px) {
  .tituloEscondido {
    display: block;
  }
}

/*-----------------------MEDIDA DE IPHONE 6/7/8 ---------------------*/
@media only screen and (max-width: 450px) {
  .tituloPrincipal {
    text-align: center;
    margin-top: 10px;
    margin-left: 20%;
  }
  .textoCentradoBG {
    margin-top: 40px;
  }
  .tituloIndex {
    font-size: 20px;
    font-family: 'Yeseva One', cursive;
  }
  .textoCentradoBG h3 {
    font-size: 10px;
  }
  .textoCentradoBG p {
    font-size: 8px;
  }
  .prendasAcomodadas {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .tituloCadaPrenda {
    font-size: 20px;
  }
  footer h2 {
    font-size: 15px;
  }
  .tituloSeccion {
    font-size: 30px;
  }
}
/*# sourceMappingURL=estilos.css.map */