
// Colores por gradiente
$color00: #f9eee8;
$color01: #c7b69f;
$color02: #e3d7bf;
$color03: #ab9680;
$color04: #7e634e;
$color05: #735945;

$colorbordeinactivo: #d9d9d9;
$colorbordeactivo: black;

$colortextobotones:black;
$colortextobotones2: white;
$colortextoprincipal:black;

//Se aplica un mapa para el color y la  familia del texto de la página. Se usa en body, línea 48.

$mapafont: (
  color: black,
  family:  ('Yeseva One', cursive),
);

//Se aplica un mixin con las características de los títulos (h2 principal) de cada sección. Se lo usa en _index.

@mixin propTexto {
	text-align: center;
	font-size: 65px;
	margin-top: 60px;
	padding: 20px 0px 15px;
	text-transform: uppercase;	
}

//Se crea un selector con las características del footer de las páginas y luego es llamado con un @extend, en _footer.

.propiedadesFooter {
	background: linear-gradient(to right, $color03, $color01);
	height: 200px;
	width: 100%;
	margin: 0px;
	font-size: 20px;
	
}
	

body {
	
	color: map-get($mapafont, color);
	font-family: map-get($mapafont, family);
	margin: 0;	
	// background-image: url(../imagenes/stacked-waves-haikei.svg);
	background-color: $color02;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
/*-----------------------------------------*/

@import "_header";
@import "_footer";
@import "_index";
@import "_productos";
@import "_talles";
@import "_comprar";
@import "_info";
@import "_contacto";
@import "_mediasq";
